<div class="ceph_pagination">
    <ul>
        <li class="cp_first">每页显示行：</li>
        <li class="cp_select">
            <select class="cp_select_s">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="150">150</option>
                <option value="200">200</option>
            </select>
        </li>
        <li class="cp_previous_all pagina"> << </li>
        <li class="cp_previous pagina"> < </li>
        <li class="pagina">1</li>
        <li class="cp_next pagina"> > </li>
        <li class="cp_next_all pagina"> >> </li>
        <li class="cp_info">
            总共&nbsp;&nbsp;<span class="cp_total">10</span>&nbsp;&nbsp;条数据
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前第&nbsp;&nbsp;<span class="cp_page_num">1</span>&nbsp;&nbsp;页
        </li>
    </ul>
</div>