<h3>Partition status for {{part._id}}</h3>
<br />
<table  class="table table-condensed table-nohead" style="width: 100%">
    <tr>
        <th style="text-align: center">total</th>
        <th style="text-align: center">free</th>
        <th style="text-align: center">used</th>
    </tr>
    <tr>
        <td style="text-align: center">{{part.stat.total|bytes}}</td>
        <td style="text-align: center">{{part.stat.free|bytes}}</td>
        <td style="text-align: center">{{part.stat.used|bytes}}</td>
    </tr>
</table>
