.pageHeader-logo{
    background-image: url("../img/pageLogo.png");
    margin-top: 5px;
    margin-left: 5px;
    width: 61px;
    height: 76px;
    background-position: 0px 0px;
    display: inline-block;
}